.body{
    text-align: center;
}

.button{
    height: 25px;
    width: 300px;
}

.button2{
    height: 25px;
    width: 150px;
}

.form{
    align-items: center;
}

.select{
    width:70px;
}

.dragbox{
    border: 1px black solid;
    height: 40px;
    width: 40px;
    display: inline-block;
}

.dropbox{
    border: 1px black solid;
    height: 40px;
    width: 130px;
    display: inline-block;
}

.block2{
    border: 1px black solid;
    height: 40px;
    width: 40px;
    display: inline-block;
}

.drag-over{
    border: dashed 1px gray;
}

.main-table{
    border: 1px black solid;
    color: rgb(0, 0, 0);
    text-align: center;
}

.text{
    font-size:20px;
    font-weight:bold;
}

/*admin table*/
.admin-title{
    font-size:50px;
}

.admin-find{
    text-align: right;
}

.admin-table-num{
    border: 0.5px black solid;
    background-color: gray;
    width:175px;
    height:30px;
    text-align: center;
}

.admin-table{
    border: 0.5px black solid;
    background-color: gray;
    width:300px;
    height:30px;
    text-align: center;
}

/*user table*/
.title{
    border: 0.5px black solid;
    width:240px;
    height:25px;
    font-size:30px;
    text-align: center;
}

.user-table2{
    border: 0.5px black solid;
    width:1300px;
    text-align: center;
}

.user-table4{
    border: 0.5px black solid;
    height:825px;
    text-align: left;
    vertical-align: top;
}

.todo{
    border: 0.5px black solid;
    height: 825px;
    text-align: center;
}

.newtodo{
    text-align: left;
    vertical-align: bottom;
}

.todo-title-time{
    border: 0.5px black solid;
    background-color: rgb(203, 203, 203);
    width:200px;
    height:30px;
    text-align: center;
}

.todo-title-work{
    border: 0.5px black solid;
    background-color: rgb(203, 203, 203);
    width:700px;
    height:30px;
    text-align: center;
}

.todo-title-main1{
    border: 0.5px black solid;
    background-color: gray;
    width:200px;
    height:60px;
    text-align: center;
}

.todo-main1{
    border: 0.5px black solid;
    background-color: gray;
    width:1050px;
    height:60px;
    text-align: center;
}

.todo-title-main2{
    border: 0.5px black solid;
    background-color: rgb(203, 203, 203);
    width:200px;
    height:60px;
    text-align: center;
}

.todo-main2{
    border: 0.5px black solid;
    background-color: rgb(203, 203, 203);
    width:1050px;
    height:60px;
    text-align: center;
}

.work-box{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 25px;
    border: 0.5px rgb(0, 0, 0) solid;
    text-align: center;
    line-height: 2.5;
    width: 150px;
    font-size: 12px;
    position:absolute;
}

#button3{
    width:30px;
    height:20px;
    position: absolute;
    top:0px;
    right:1px;
    font-size: 1px;

}

#button4{
    width:40px;
    height:20px;
    position: absolute;
    bottom:0px;
    right:1px;
    font-size: 1px;

}

.date-time{
    font-size: 25px;
    font-weight: bold;
}

.right{
    float: right;
}

.div{
    border: 0.5px rgb(0, 0, 0) solid;
    width: 200px;
    height: 150px;
    position: absolute;
    top:650px;
    right:25px;
}